.profile__info {
  margin:30px 0 25px 0;
  max-width:calc(100% - 18px - 150px * 2);
}

@media screen and (max-width:768px) {
  .profile__info {
    max-width:282px;
    margin:28px auto 0 auto;
    justify-content:center;
  }
}