.popup__close-button {
  width:32px;
  height:32px;
  position:absolute;
  right:-40px;
  top:-40px;
  cursor:pointer;
  transition:all 0.5s;
  background-image:url(../../../images/close_icon.svg);
  background-size:32px;
  background-color:transparent;
  background-repeat:no-repeat;
  background-position:center;
  padding:0;
  border:0;
}

.popup__close-button:hover {
  opacity:0.6;
}

@media screen and (max-width:768px) {
  .popup__close-button{
    width:20px;
    height:20px;
    background-size:20px 20px;

    right:0;
    top:calc(-20px - 16px);
  }
}
