.profile__add-button {
  background-image:url(../../../images/plus.svg);
  background-color:#000000;
  background-size:22px;
  width:150px;
  height:50px;
  margin:auto 0 auto auto;
  border:2px solid #FFFFFF;
  border-radius:2px;
  background-repeat:no-repeat;
  background-position:center;
  cursor:pointer;
  transition:all 0.5s;
}

.profile__add-button:hover {
  opacity:0.6;
}

@media screen and (max-width:768px) {
  .profile__add-button {
    margin:32px auto auto auto;
    width: 282px;
    background-size:16px;
  }
}