.element__like-button {
  background:url(../../../images/like.svg);
  border:0px;
  background-repeat:no-repeat;
  background-position:center;
  width:22px;
  height:19px;
  background-size:22px 19px;
  padding:0;
  cursor:pointer;
  transition:all 0.5s;
}

.element__like-button:hover {
  opacity:0.5;
}