.profile__info {
  color:#FFFFFF;
  max-width:336px;
  flex-wrap:wrap;
  display:flex;
  align-items:flex-end;
  margin:30px 0 25px 0;
}

@media screen and (max-width:768px) {
  .profile__info {
    max-width:282px;
    margin:22.25px auto 0 auto;
    justify-content:center;
  }
}