.popup__submit-btn {
  margin-top:28px;
  background-color:#000000;
  border-radius:2px;
  font-family:"Inter", "Arial ", sans-serif;
  font-style:normal;
  font-weight:400;
  font-size:18px;
  line-height:22px;
  text-align:center;
  color:#FFFFFF;
  padding-top:14px;
  padding-bottom:13px;
  cursor:pointer;
  transition:all 0.5s;
  border:0;
}

.popup__submit-btn:hover {
  opacity:0.8;
}

@media screen and (max-width:768px) {
  .popup__submit-btn {
    font-size:14px;
    line-height:17px;
    margin-top:43px;
    padding-bottom:15px;
  }
}
