.header {
  max-width:880px;
  margin:45px auto 0 auto;
  display:flex;
  flex-direction:column;
  border-bottom:1px solid rgba(84, 84, 84, 0.7);
  padding-bottom:41px;
}

@media screen and (max-width:1024px) {
  .header {
    width:calc(100% - 19px * 2);
  }
}

@media screen and (max-width:768px) {
  .header {
    width:100%;
    margin:28px auto 0 auto;
    padding-bottom:31.6px;
  }
}