.popup__field {
  border:0;
  font-family:"Inter", "Arial ", sans-serif;
  font-style:normal;
  font-weight:400;
  font-size:14px;
  line-height:17px;
  color:#000000;
  padding:9px 0;

  border-bottom:1px solid #cccccc;
}

.popup__field:nth-last-of-type(1){
  margin-top:4px;
}

@media screen and (max-width:768px) {
  .popup__field:first-of-type {
    margin-top:67px;
  }
}
